<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Bios companion writes + reads. Mirrors Smokeless's manifest pattern. -->
    <uses-permission android:name="com.bios.app.permission.WRITE_COMPANION" />
    <uses-permission android:name="com.bios.app.permission.READ_HEALTH" />

    <queries>
        <package android:name="com.bios.app" />
        <provider android:authorities="com.bios.app.health" />
    </queries>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Idun"
        tools:targetApi="31">

        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".RecipeDetailActivity"
            android:label="@string/recipe_detail_title"
            android:parentActivityName=".MainActivity" />

        <activity
            android:name=".ShoppingListActivity"
            android:label="@string/shopping_list_title"
            android:parentActivityName=".MainActivity" />

        <activity
            android:name=".SettingsActivity"
            android:label="@string/settings_title"
            android:parentActivityName=".MainActivity" />

        <activity
            android:name=".PlanningActivity"
            android:label="@string/planning_title"
            android:parentActivityName=".MainActivity" />

        <activity
            android:name=".PickRecipeActivity"
            android:label="@string/pick_recipe_title"
            android:parentActivityName=".MainActivity" />

    </application>
</manifest>
